@import "adminJoin.scss";
@import "adminJoinConfirm.scss";

/*COMMON*/
body {
	font-family: "Nanum Gothic", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
	color: #333;
	overflow: hidden;
	background-color: #dcddd8;
}
a {
	text-decoration: none;
	color: #333;
}
img {
	display: block;
}

.line {
	width: 70%;
	height: 1px;
	background-color: #ddd;
}

/*INNER*/
.inner {
	width: 1180px;
	margin: 0 auto;
	position: relative;
}
* {
	box-sizing: border-box;
}

ul,
ol,
li {
	list-style: none;
}

// SECTION
section {
	width: 1180px;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;

	.inner {
		height: 700px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		box-shadow: 10px 10px 15px rgb(120, 120, 120);
		background-color: #fff;

		.left {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: end;
			gap: 100px;
			width: 50%;
			height: 100%;
			background: url(../img/background.jpg);
			color: #fff;
			padding: 0px 130px;
			letter-spacing: 1px;

			.txt {
				text-align: right;
				font: 700 45px/1.3 "Montserrat";
			}

			.webadd {
				font: 500 15px/1.3 "Montserrat";
			}
		}

		.right {
			width: 50%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 50px;

			.txt01 {
				font: 600 15px/1.3 "Montserrat";
			}

			.txt02 {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 40px;

				label {
					p {
						margin-bottom: 10px;
						font: 600 16px/1.3 "Montserrat";
					}

					input {
						width: 300px;
						height: 35px;
						border: 1px solid #8b8b8b;
						border-radius: 50px;
						font: 400 12px/1.3 "Nanum Gothic";
						letter-spacing: 0.5px;
						padding-left: 10px;
					}
				}
			}

			.submit {
				position: relative;

				input[type="submit"] {
					width: 150px;
					height: 35px;
					background-color: #444;
					border: 1px solid #444;
					font: 500 13px/1 "Montserrat";
					color: #fff;
					letter-spacing: 0.5px;
					cursor: pointer;
					border-radius: 50px;
				}
			}

			.txt03 {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				p {
					font: 400 14px/1.3 "Nanum Gothic";
					margin-bottom: 15px;
				}

				button {
					width: 150px;
					height: 35px;
					cursor: pointer;
					background-color: #444;
					border: 1px solid #444;
					border-radius: 50px;
					color: #fff;
					font: 400 13px/1.3 "Nanum Gothic";
				}
			}

			.txt04 {
				font: 500 11px/1 "Montserrat";
			}
		}
	}
}
